<h1>Alojamiento</h1>
<div id="contenedorProductos" class="contenedorProductos"></div>

<h2>Completa </h2>

<form action="/api/alojamiento/{{tipo}}" method="post">
    <input type="number" id="plazas" name="plazas" placeholder="nro plazas reservadas">





    <button type="submit" id="BotonEnviar">Seguir</button>
    {{#if mixto}}
        <button ><a href="/transporteinsumos/mixto">Atras</a></button>
    {{else}}
        <button ><a href="/transporteinsumos/presencial">Atras</a></button>
    {{/if}}
</form>
