<h1>Transporte</h1>
<div id="contenedorProductos" class="contenedorProductos"></div>

<h2 class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">Completa </h2>

<form action="/api/email" method="post">
    <input type="email" id="mail" name="mail" placeholder="mail">
    


    <button type="submit" id="BotonEnviar">Enviar</button>
</form>

