<h1>Alojamiento</h1>
<div id="contenedorProductos" class="contenedorProductos"></div>

<h2>Completa </h2>

<form action="/api/residuos/{{tipo}}" method="post">
    <div>
        ¿separaron los residuos?
    </div>
    <select  id="residuos" name="residuos">
        <option value="elegi">Elegi </option>
        <option value="Si">Si</option>
        <option value="No">No</option>
    </select>
    <div>
        ¿utilizaste vasos, platos o cubiertos de un solo uso?
    </div>
    <select  id="reciclables" name="reciclables">
        <option value="elegi">Elegi </option>
        <option value="Si">Si</option>
        <option value="No">No, todos eran reutilizables o reciclabes</option>
        <option value="No">No se usaron</option>
    </select>
  





    <button type="submit" id="BotonEnviar">Enviar</button>
        {{#if mixto}}
        <button ><a href="/comida/mixto">Atras</a></button>
    {{else}}
        <button ><a href="/comida/presencial">Atras</a></button>
    {{/if}}
</form>
