<h1>Comida</h1>
<div id="contenedorProductos" class="contenedorProductos"></div>

<h2>Completa </h2>

<form action="/api/tipo" method="post">
    <a href="/asistentesvirtuales/virtual">virtual</a>
    <a href="/transporte/presencial">presencial</a>
    <a href="/asistentesvirtuales/mixto">mixto</a>
    





    <button type="submit" id="BotonEnviar">Enviar</button>
</form>
